#intro-section {
  z-index: 1000;
}

.cs-body .section {
  background: black;
}

.section--hidden {
  display: none;
}

/* For the Codespace Website */
.cs-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
}

.cs-track1 {
  background-image: url(../img/codespace/track1.png);
}
.cs-track2 {
  background-image: url(../img/codespace/track2.png);
}
.cs-track3 {
  background-image: url(../img/codespace/track3.png);
}
.cs-track4 {
  background-image: url(../img/codespace/track4.png);
}

.cs-caption-container {
  position: absolute;
  top: 0;
  left: 0;

  background: transparent;

  padding: 10%;
  height: 100%;
  width: 100%;
}

.cs-caption-number {
  display: none;
}

.cs-caption-content {
  letter-spacing: 0.3px;
  font-size: 2rem;
  color: #0094ff;
  font-weight: normal;
}

.cs-caption-header {
  width: 100%;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10%;
  font-size: 5rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 5px;

  text-shadow: 0 0 6px #000000;
}

.cs-caption-header small {
  letter-spacing: 0;
  display: block;
  font-size: 2rem;
  text-transform: lowercase;
}

.cs-section-internal {
  width: 100vw;
  height: 100vh;
}


.cs-figure.effect-apollo {
	background: #3498db;
}

.cs-figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

.cs-figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

.cs-figure.effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.cs-figure.effect-apollo h2 {
	text-align: left;
}

.cs-figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.cs-figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

.cs-figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
