/*This is the page piling structure*/
.section {
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: #FFFAF2;
    padding-left: 30px;
    padding-right: 50px;
    background-size: cover;
    background-image: url(assets/img/main_bg.jpg);
}

body{
  transition: all 1s ease;
}

#landing-logo{
  width: 30%;
}

h5{
  font-family: 'Segoe UI Light';
  margin-top: 50px;
  font-size: 1.5em;
}

.extend-right{
  width: 10vw;
  height: 100vh;
  position: fixed;
  transform: translateX(-10vw);
  z-index: 99;
  transition: all 1s ease;
  padding-top: 35vh;
  line-height: 7.5vh;
  text-align: center;
  color: #fff;

}

.extend-right span{
  width: 100%;
  font-size: 1em;
  font-family: 'Segoe UI Light';
  display: block;
  margin-right: 10px;
  background: rgba(0,0,0,0.8);
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  border-color: #fff;
  overflow: hidden;
  color: #fff;
}



.register{
  margin-top: 20px !important;
  border: 1.5px solid blue;
  background: none;
  font-size: 1em;
  font-weight: lighter;
  padding: 7px 23px 7px 23px;
  outline: none;
 cursor: pointer;
 font-size: 20px;
 border: 2px solid blue;
 transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
transform: scale(0.85);
}

.register-top{
  background: rgba();
  font-size: 1em;
  font-weight: lighter;
  padding: 5px 20px 5px 20px;
 cursor: pointer;
 font-size: 20px;
 transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
color: #000;
}

.register:hover{
  border-color: red;

}

@keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}

#bottom-arrow, #bottom-arrow img{
  color:white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  margin-bottom: 50px;
  width: 40px;
  height: auto;
  transition: all 1s ease;
}

#bottom-arrow:hover{
  margin-bottom: 25px;
  cursor: pointer;
}

#navbar-logo, #navbar-logo img{
  float:right !important;
  margin-top: -40px;
  margin-right: 10px;
}

.extend-right span:hover{
  transform: translateY(-5px);
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  border-color: #fff;
  color: #fff;
}



.insider {
  background-color: #fff;
  width: 100%;
  height: 20px;
  position: absolute;
  left: -135px;
  transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
}

.extend-right span:hover .insider{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  left: 135px;
}

.section:nth-child(1) {
    background-image: url("D:\\Documents\\website\\devspace-revamp\\devspace-done-right\\assets\\img\\main_bg.jpg"); //shit doesnt work with relative path
}

.section:nth-child(2),
.section:nth-child(6) {
    background-color: #18121E;
}

.section:nth-child(3),
.section:nth-child(7),
.section:nth-child(10) {
    background-color: #233237;
}

.section:nth-child(4),
.section:nth-child(8)
 {
    background-color: #984B43;
}
.section:nth-child(9),
.section:nth-child(11) {
    background-color: #984B43;
}

.section:nth-child(5){
    background-color: #EAC67A;
}

a {
    color: #FFFAF2;
}

a:hover {
    color: #FFFAF2;
    text-decoration: none;
}

/*This is for navbar*/

.navbar {
    margin: 0;
    background-color: #2a2a2a !important;
    display: none;
}
.navbar.navbar-fixed-top {
    margin: 0;
    width: 100vw;
    background: #000 !important;
}
.navbar-header {
    height: 7vh !important;
    width: 100vw;

    background: #000 !important;
}
#navbar-logo {
  margin-top: -45px !important;
}

.navbar-inverse {
    margin: 0 !important;
}
a.navbar-brand {
    padding: 10px;
    height: 100%;
    float: right;
}


/*loader*/
#intro-section {
    height: 100vh;
    background-color: black !important;
    padding: 0;
}
.brand-img {
    width: 100% !important;
    height: auto;
    margin-top: 40vh;
}
/* landing */
div#section div.line1{
	margin-top: 30vh;
	font-size: 32px !important;
	font-weight: 300;
}
div#section div.line2{
	margin-top: 2vh;
	font-size: 16px !important;
	font-weight: 300;
}
div#section div.line3{
	margin-top: 2.5vh;
	font-size: 24px !important;
	font-weight: 300;
}

/* what to expect portion */
img.wte{
    padding: 20px !important;
}
div p.wte-text{
    font-size: 1em !important;
    text-align: justify;
}


/* Speaker */
.top-buffer{
    margin-top:8vh;
}

.bottom-buffer{
    margin-top:8vh;
}

/* FAQ */
#faq_container
{
    width: 100%;
    height: 70%;
}
#faq_row
{
    padding: 7%;
    padding-top: 4%;
    padding-bottom: 2% !important;
}
#faq_row1
{
    padding: 7%;
    padding-top: 2% !important;
}
.faq_header{
    text-align: left;
    color: blue;
    font-size: 20px;
}
.faq_content{
    text-align: justify;
    padding-left: 5%;
    text-align: 10px;
}



#nav-icon3{
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 20px 100px 0px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  float: right;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.registerr{
  background-image: url('../img/main_bg.jpg');
}

.text-center{
  transform: translateX(10px);
}


#top-logo{
  width:150px;
  position: absolute;
  margin-top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 900px){
    #landing-logo{
      width: 80%;
    }

    h5{
      font-size: 1.3em;
    }

    a.navbar-brand {
        padding: 20px;
    }

    .extend-right{
      width: 100vw;
      transform: translateX(-100vw);

    }


}
