/*This is the page piling structure*/
.section {
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: #FFFAF2;
    padding-left: 30px;
    padding-right: 50px;
    background-size: cover;
    background-image: url(assets/img/main_bg.jpg);
}

.section:nth-child(1) {
    background-color: pink;
}

.section:nth-child(2),
.section:nth-child(6) {
    background-color: #18121E;
}

.section:nth-child(3),
.section:nth-child(7),
.section:nth-child(10) {
    background-color: #233237;
}

.section:nth-child(4),
.section:nth-child(8)
 {
    background-color: #984B43;
}
.section:nth-child(9),
.section:nth-child(11) {
    background-color: #984B43;
}

.section:nth-child(5){
    background-color: #EAC67A;
}

a {
    color: #FFFAF2;
}

a:hover {
    color: #FFFAF2;
    text-decoration: none;
}

/*This is for navbar*/

.navbar {
    margin: 0;
    background-color: #2a2a2a !important;
    display: none;
}
.navbar.navbar-fixed-top {
    margin: 0;
}
.navbar-header {
    height: 7vh !important;
}
.navbar-logo {
    height: 100%;
    width: auto;
}

.navbar-inverse {
    margin: 0 !important;
}
a.navbar-brand {
    padding: 10px;
    height: 100%;
}
@media only screen and (max-width: 768px) {
    a.navbar-brand {
        padding: 20px;
    }
}

/*loader*/
#intro-section {
    height: 100vh;
    background-color: black !important;
    padding: 0;
}
.brand-img {
    width: 100% !important;
    height: auto;
    margin-top: 40vh;   
}
/* landing */
div#section div.line1{
	margin-top: 30vh;	
	font-size: 32px !important;
	font-weight: 300;
}
div#section div.line2{
	margin-top: 2vh;
	font-size: 16px !important;
	font-weight: 300;
}
div#section div.line3{
	margin-top: 2.5vh;
	font-size: 24px !important;
	font-weight: 300;
}

/* what to expect portion */
img.wte{
    padding: 10px !important;
}
div p.wte-text{
    font-size: 1em !important;
    text-align: justify;
}


/* Speaker */
div#speaker-text{
    margin-top: 4vh !important;
}
.top-buffer{
    margin-top:3vh; 
}

/* Codespace */
#codecontent{
    margin-top: 2em !important;
    text-align: justify !important;
}

#codedates{
    margin-top: 0.66em !important;
    font-size: 30px !important;
}
#coderegister{
    margin-top: 1em !important;
    color:#fafafa !important;
}

/* FAQ */
#faq_container
{
    width: 100%;
    height: 70%;
}
#faq_row
{ 
    padding: 7%;
    padding-top: 4%;
    padding-bottom: 2% !important; 
}
#faq_row1
{ 
    padding: 7%;
    padding-top: 2% !important;
}
.faq_header{
    text-align: left;
    color: blue;
    font-size: 20px;
}
.faq_content{
    text-align: justify;
    padding-left: 5%;
    text-align: 10px;
}
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: transparent;
    border: 1px solid #0094ff;          
}

#map{
    width:100%;
    height: 80vh;
}
#submit_button{
    background-color: transparent;
    border: 1px solid #0094ff;
    color: white;
}
#submit_button:hover{
    color: #0094ff;
    border: 1px solid white
}