/*This is the page piling structure*/
.section {
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: 3em;
    color: #FFFAF2;
    padding-left: 30px;
    padding-right: 50px;
}

.section:nth-child(1) {
    background-color: pink;
}

.section:nth-child(2),
.section:nth-child(6) {
    background-color: #18121E;
}

.section:nth-child(3),
.section:nth-child(7),
.section:nth-child(10) {
    background-color: #233237;
}

.section:nth-child(4),
.section:nth-child(8)
 {
    background-color: #984B43;
}
.section:nth-child(9),
.section:nth-child(11) {
    background-color: #984B43;
}

.section:nth-child(5){
    background-color: #EAC67A;
}

a {
    color: #FFFAF2;
}

a:hover {
    color: #FFFAF2;
    text-decoration: none;
}

/*This is for navbar*/

.navbar {
    margin: 0;
    background-color: #2a2a2a;
    display: none;
}
.navbar.navbar-fixed-top {
    margin: 0;
}
.navbar-header {
    height: 7vh !important;
}
.navbar-logo {
    height: 100%;
    width: auto;
}

.navbar-inverse {
    margin: 0 !important;
}
a.navbar-brand {
    padding: 10px;
    height: 100%;
}

/*loader*/
#intro-section {
    height: 100vh;
    background-color: black !important;
    padding: 0;
}
.brand-img {
    width: 100% !important;
    height: auto;
    margin-top: 40vh;   
}